* {
  box-sizing: border-box;
}

@font-face {
  font-family: myFirstFont;
  src: url(BrushScriptOpti-Regular.otf);
}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #89acb3;
  height: 100vh;
}

.main {
  margin-left: 5%;
  margin-top: 0;
  background-color: white;
  border-style: solid;
  border-color: white;
  border-radius: 10px;
}

.header {
  grid-area: header;
  overflow: hidden;
  background-color: #89acb3;
}

.header a {
 float: left; 
 color: black;
  text-align: center;
  padding: 20px;
  text-decoration: none;
  font-size: 18px;
  line-height: 25px;
  border-radius: 4px;
}

.header a.logo {
  font-size: 250%;
  font-weight: bold;
  padding-bottom: 3%;
  padding-top: 3%;
}


.header a:hover {
  background-color: #113c4b;
  color: black;
}

.header a.active {
  background-color: #cae4e8;
  color: black;
}

.header-left {
float: left;
padding-left: 5%;
}

.header-right {
  float: right;
  padding-top: 10%;
	padding-bottom:1%;
	padding-right: 1%;
}

.logo {
	width:300px;
}

@media screen and (max-width: 500px) {

  .header {
    padding: 1%;
  }

  .header a {
    float: none;
    display: block;
    text-align: center;
    width: 33%;
    padding: 0;
  }

  .header-right {
    float: none;
    display: flex;
  }


  .header a.logo {
    float: none;
    width: 90%;
    margin-left: 5%;
  }


  .main {
    margin-left: 2%;
  }

}